In [11]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

table = soup.find('table', class_='wikitable sortable')
table_headers = table.find_all('th')
world_table_titles = [ title.text.strip() for title in table_headers]
world_table_titles

['Rank',
 'Name',
 'Industry',
 'Revenue (USD millions)',
 'Revenue growth',
 'Employees',
 'Headquarters']

In [19]:
df = pd.DataFrame(columns=world_table_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [24]:
row_column = table.find_all('tr')
for row in row_column[1:]:
    all_row = row.find_all('td')
    individual_row_data = [row.text.strip()for row in all_row]
    
    length = len(df)
    df.loc[length] = individual_row_data

In [27]:
df.to_csv("List_of_Largest_companies_US", index=False)