In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.webdriver.common.by import By

In [4]:
driver = webdriver.Chrome()
driver.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')
button = driver.find_element(By.ID, 'list-view-option-detailed')
button.click()

In [5]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [6]:
titles = []
images = []
years = []
durations = []
imdb_ratings = []
descriptions = []

In [7]:
movie_list = soup.find_all('li', {'class': 'ipc-metadata-list-summary-item'})
print(len(movie_list))

250

In [8]:
movie_list = soup.find_all('li', {'class': 'ipc-metadata-list-summary-item'})
for movie in movie_list:
    title = movie.h3.text
    titles.append(title) # type: ignore
    
    image = movie.img['src']
    images.append(image) # type: ignore

    year = movie.find_all('span',{'class': 'sc-b189961a-8 kLaxqf dli-title-metadata-item'})[0].text
    years.append(year) # type: ignore
    
    duration = movie.find_all('span',{'class': 'sc-b189961a-8 kLaxqf dli-title-metadata-item'})[1].text
    durations.append(duration) # type: ignore

    imdb_rating = movie.find('span', {'class': 'ipc-rating-star ipc-rating-star--base ipc-rating-star--imdb ratingGroup--imdb-rating'}).text
    imdb_ratings.append(imdb_rating) # type: ignore
    
    description = movie.find('div', {'class': 'ipc-html-content-inner-div'}).text
    descriptions.append(description) # type: ignore

In [9]:
print(len(titles)) # type: ignore

250

In [10]:
import pandas as pd

In [11]:
Data = pd.DataFrame({'Titles': titles, 'Images': images, 'Years': years, 'Duration': durations, 'Imdb Ratings': imdb_ratings, 'Descriptions' : descriptions})
Data

,Titles,Images,Years,Duration,Imdb Ratings,Descriptions
0,1. The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BNDE3OD...,1994,2h 22m,9.3 (2.9M),"Over the course of several years, two convicts..."
1,2. The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972,2h 55m,9.2 (2M),"Don Vito Corleone, head of a mafia family, dec..."
2,3. The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008,2h 32m,9.0 (2.9M),When the menace known as the Joker wreaks havo...
3,4. The Godfather Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974,3h 22m,9.0 (1.4M),The early life and career of Vito Corleone in ...
4,5. 12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,1957,1h 36m,9.0 (873K),The jury in a New York City murder trial is fr...
...,...,...,...,...,...,...
245,246. It Happened One Night,https://m.media-amazon.com/images/M/MV5BMDg5Mm...,1934,1h 45m,8.1 (113K),A rogue reporter trailing a runaway heiress fo...
246,247. Drishyam,https://m.media-amazon.com/images/M/MV5BYmJhZm...,2015,2h 43m,8.2 (96K),Desperate measures are taken by a man who trie...
247,248. Aladdin,https://m.media-amazon.com/images/M/MV5BZTg5ZT...,1992,1h 30m,8.0 (471K),A kind-hearted street urchin and a power-hungr...
248,249. Dances with Wolves,https://m.media-amazon.com/images/M/MV5BMTY3OT...,1990,3h 1m,8.0 (293K),"Lieutenant John Dunbar, assigned to a remote w..."
249,"250. Paris, Texas",https://m.media-amazon.com/images/M/MV5BM2RjMm...,1984,2h 25m,8.1 (121K),"Travis Henderson, an aimless drifter who has b..."

In [13]:
Data.to_csv('Imdb_Rating_Top_250.csv')